* {
    max-width: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img {
    display: inline-block;
    background-color: #000;
    animation: fade 15s;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  picture {
    margin-top: 20px;
  }
  
  footer {
    margin-top: 40px;
  }