:root {
    --heading-font: 'Alex Brush', Arial, sans-serif;
    --paragraph-font: 'Alice', Helvetica, Arial, sans-serif;
    --form-background: #f9f9f9;
    --form-border: #ddd;
    --form-padding: 20px;
    --form-margin-bottom: 20px;
    --primary-color: #26830f;
    --primary-color-hover: #1b600a;
}

h1,
h2,
h3 {
    font-family: 'Alex Brush', Arial, sans-serif;
    color: #000000;
}

p {
    font-family: 'Alice', Helvetica, Arial, sans-serif;
    color: #000000;
}

body {
    font-family: 'Alice', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

#mode {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #26830f;
    color: #f5f5f5;
    padding: 15px 0;
    box-sizing: border-box;
    max-width: 100%;
}

.main-image {
    margin-right: 50px;
    padding-left: 20px;
    max-width: 100%;
}

.header-buttons {
    display: flex;
    align-items: center;
}

nav {
    background-color: #1b600a;
    /* background-color: #58b341; */
    color: #fff;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
}

#hamburger {
    display: none;
    cursor: pointer;
    font-size: 50px;
    margin-right: 20px;
    color: #f5f5f5;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.thank-you-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hero-card {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
    /* width: 1000px; */
    max-width: 1050px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.hero-content {
    flex: 1;
    padding: 0 20px;

    box-sizing: border-box;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.join-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b600a;
    /* background-color: #58b341; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.join-link:hover {
    background-color: #26830f;
}

.events-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.current-events,
.weather-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
    width: 1050px;
    margin: 10px 0;
}

/* .weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.weather-card {
    display: flex;
    align-items: center;
}

.weather-card p {
    flex: 1;
}

.weather-card figure {
    display: inline-block;
    margin-left: 20px;
}

.weather-card h2 {
    margin-bottom: 10px;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-item {
    flex: 0 0 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.forecast-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#banner {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner p {
    margin: 0;
}

#close-button {
    background-color: #1b600a;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#close-button:hover {
    background-color: #26830f;
}

.current-events h2,
.weather-card h2 {
    margin-right: 0;
}

.current-events {
    display: block;
}

.weather-card {
    display: none;
}

.company-spotlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}

.spotlight {
    flex: 1;
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

.sidebar-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.sidebar {
    grid-column: 1;
}

.visit-message,
.sabina-area,
.discovery-events {
    border: 1px solid #000000;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

.sabina-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

.sabina-area img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    transform-origin: left;
}

.sabina-area img:hover {
    transform: scale(5);
    z-index: 2;
}

.images-content {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

.images-content img {
    max-width: 100%;
    margin: 5px;
}

.dark-mode .hero-card,
.dark-mode .current-events,
.dark-mode .weather-card,
.dark-mode .spotlight,
.dark-mode .sabina-area,
.dark-mode .visit-message,
.dark-mode .discovery-events,
.dark-mode .images-content {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
}

.dark-mode .current-events h2,
.dark-mode .weather-card h2,
.dark-mode .spotlight h2,
.dark-mode .sabina-area h2 {
    color: #fff;
}

.dark-mode .hero-card p,
.dark-mode .current-events p,
.dark-mode .weather-card p,
.dark-mode .spotlight p {
    color: #fff;
}

.discovery {
    animation: fadeIn 5s ease-in-out;
}

.discovery:hover {
    opacity: 0.8;
    transform: scale(1.02);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-header {
    grid-column: 1 / -1;
    text-align: center;
}

.form-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.form-title {
    margin-bottom: 20px;
}

form {
    background-color: var(--form-background);
    border: 1px solid var(--form-border);
    padding: var(--form-padding);
    margin-bottom: var(--form-margin-bottom);
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="hidden"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    font-size: 16px;
}

form button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--paragraph-font);
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: var(--primary-color-hover);
}

#password_message {
    color: red;
    font-family: var(--paragraph-font);
}

#rating_display {
    font-family: var(--paragraph-font);
    font-size: 16px;
    margin-left: 5px;
}

.dark-mode .form-container label {
    color: #000;
}

.dark-mode .form-header .form-title {
    color: #fff;
}

.form-container,
.membership-benefits {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}

.form-container form div,
.membership-benefits {
    margin-bottom: 20px;
}

.form-container,
.membership-benefits {
    width: 50%;
    float: left;
}

.discovery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toggle-view {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-view button {
    margin: 0 10px;
}

.members.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.members.list-view .member {
    width: 1000px;
}

.members.list-view {
    display: flex;
    flex-direction: column;
}

.member {
    width: auto;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

.list-view .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.list-view .member img {
    display: none;
}

.list-view .member h2,
.list-view .member p {
    margin: 0;
}

.list-view .member h2,
.list-view .member p:nth-child(n+2) {
    flex: 1;
    text-align: center;
}

.member {
    border: 1px solid #000;
    padding: 20px 10px;
    margin: 5px;
}

.member img {
    max-width: 100%;
    height: auto;
}

.dark-mode .discovery-container,
.dark-mode .member {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.dark-mode .member h2,
.dark-mode .member p {
    color: #fff;
}

.dark-mode .member a {
    color: #fff;
}

footer {
    background-color: #26830f;
    /* background-color: #58b341; */
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}