/*----------- MAIN FORM STYLE --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  /*----------- FORM -------------*/
  h1 {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
    color: var(--secondary-color);
    font-style: italic;
    text-align: center;
  }
  
  .required {
    color: orangered;
  }
  
  form fieldset {
    background-image: linear-gradient(#f0ffd7, whitesmoke);
    margin: 2rem 0;
    border: 0px solid var(--secondary-color);
    border-radius: 10px;
    padding: 2.75rem;
    box-shadow: 0 0 10px hsl(0, 0%, 50%);
  }
  
  form legend {
    color: var(--secondary-color);
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-weight: bold;
  }
  
  input.fill-in {
    width: 100%;
  }
  
  form label.top,
  form div {
    display: block;
    color: var(--secondary-color);
    font-size: 1rem;
  }
  
  .required {
    color: red;
    font-size: 1.2rem;
  }
  
  form label.top input,
  form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
  }
  
  form input.submitBtn {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-weight: bold;
  }
  
  form input.submitBtn:hover {
    background-image: linear-gradient(#38471f, #50731d);
  }
  
  form label.top input:required {
    border-left: rgb(1, 91, 1) solid 2px;
    border-bottom: rgb(1, 91, 1) solid 2px;
  }
  
  form label.top input:required:valid {
    border-left: rgb(14, 185, 105) solid 2px;
    border-bottom: rgb(14, 185, 105) solid 2px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
  }
  
  /*----------- FOOTER --------------*/
  footer {
    display: block;
    padding: 0.5rem 2%;
    text-align: center;
    color: #000;
  }
  
  .num-of-visits {
    text-align: center;
  }
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .thank {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 5rem;
    font-family: "Great Vibes", serif;
    font-style: italic;
  }
  
  .thank-msg {
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 30px px;
  }
  
  .thank-msg p {
    padding: 40px;
    text-align: center;
    font-size: 2rem;
  }