* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*---Root Style Start---*/
  :root {
    --heading-font: "Times New Roman", Times, serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    --primary-color: #fff;
    --secondary-color: #38471f;
    --tertiary-color: #ffb5af;
    --light-color: #ffe9e7;
    --dark-color: black;
  }
  
  /*---Body Style Start---*/
  
  body {
    font-family: var(--paragraph-font);
    color: #000;
  }
  
  p {
    font-family: var(--paragraph-font);
  }
  
  /*---Header Style Start---*/
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }
  
  .logo img {
    width: auto;
    height: 65%;
    border-radius: 5%;
    bottom: 0;
  }
  
  /*---Header Style End---*/
  
  /*---Nav Style Start---*/
  nav {
    top: 0;
    background-color: var(--primary-color);
    margin: 0 auto;
    bottom: 0;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .active {
    color: var(--tertiary-color);
  }
  
  .open li {
    display: block;
  }
  
  /*===== Hamburger Mebu Style =====*/
  
  #ham-menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 7px 6px;
    background-color: var(--primary-color);
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  #ham-menu::before {
    content: "☰";
  }
  
  #ham-menu.open::before {
    content: "❎";
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: var(--primary-color);
  }
  
  .navigation li {
    display: none;
  }
  .navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
  }
  .navigation li a:hover {
    background-color: var(--tertiary-color);
    color: var(--dark-color);
    font-weight: 700;
  }
  
  /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
  .open li {
    display: block;
    width: 100%;
  }
  .open li a {
    display: block;
  }
  
  .active::before {
    content: "💚 ";
  }
  
  /* large view navigation ************************************/
  @media (min-width: 37.5em) {
    #ham-menu {
      display: none; /* hide hamburger button */
    }
  
    .navigation {
      flex-direction: row;
    }
  
    .navigation li {
      display: block;
      flex: 1 1 100%;
    }
  }
  
  /*---Nav Style End---*/
  
  /*---Hero Style Start---*/
  .hero {
    background-image: url("../images/hero-bg.webp");
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.25),
        transparent
      ),
      url("../images/hero-bg.webp") no-repeat top;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 450px;
  }
  
  .hero-cta {
    width: 50%;
    text-align: center;
    margin: 3.5%;
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .hero-cta h1 {
    font-size: 38px;
    color: var(--primary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-style: italic;
  }
  
  .hero-cta h1 span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 58px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    border: 2px solid white;
    border-style: double;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  @media screen and (max-width: 768px) {
    .hero-cta h1 {
      font-size: 30px;
    }
  
    .hero-cta h1 span {
      font-size: 35px;
    }
  }
  
  .hero-cta h3 {
    text-align: center;
    font-size: 10px;
    color: var(--white-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .hero-cta a,
  .container-info a {
    background-color: var(--tertiary-color);
    color: #000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  @media screen and (max-width: 768px) {
    .hero-cta a,
    .container-info a {
      padding: 10px;
      text-align: center;
      font-size: 10px;
      border-radius: 10px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .hero-cta a,
    .container-info a {
      padding: 18px;
      text-align: center;
      font-size: 8px;
      border-radius: 8px;
    }
  
    .mission-statement p {
      font-size: 1rem;
    }
  }
  
  /*---Hero Style End---*/
  
  /*---SECTION STYLE START---*/
  .section-title {
    font: var(--heading-font);
    font-size: 38px;
    border-bottom: 1px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 40%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /*---SECTION STYLE START---*/
  
  .mission,
  .events-section,
  .other-events-section,
  .spotlight,
  .demo-row,
  .blog-section,
  .contact {
    padding: 50px;
  }
  
  .mission-statement p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
  }
  
  /*-- Weather Style Start --*/
  #weather {
    position: relative;
    color: #000;
    display: block;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  
  #weather h3 {
    position: relative;
    text-align: center;
    font-size: 2rem;
  }
  
  #weather-divs div {
    display: inline-block;
  }
  .current-cond {
    text-transform: capitalize;
  }
  
  div#today {
    width: 250px;
    margin-top: 15px;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
  
  div#forecast-container {
    padding: 20px;
    margin: 20px;
  }
  
  div.forcast-day {
    padding: 20px;
    margin: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
  
  img#weather-icon,
  img#forecast-icon {
    background-color: rgb(121, 222, 188);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: auto;
    margin: 10px;
  }
  /*-- Weather Style End --*/
  
  /* Events Style Start */
  
  section {
    width: 100%;
    height: auto;
  }
  
  .winner {
    font-style: italic;
  }
  
  .events-section {
    display: inline-block;
    position: relative;
    padding: 20px;
    align-items: center;
  }
  
  .events-section h3,
  .events-section h4,
  .events-section p {
    color: #000;
    padding: 5px;
  }
  
  .events-section p {
    width: 500px;
  }
  
  .container-info {
    display: block;
    position: relative;
    padding: 20px;
    right: 0;
  }
  
  .container-info h3 {
    font-weight: bold;
  }
  
  .container-info img {
    width: 35%;
    height: auto;
    align-items: center;
  }
  
  .container-info p,
  .container-info h4 {
    color: #000;
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: lighter;
  }
  
  .events-section button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .container-main {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .container-main img {
    width: 100%;
    height: auto;
  }
  
  /* Events Style Ends */
  
  /*--- Business Spotlight Style Start---*/
  
  .spotlight-section {
    position: relative;
    color: var(--dark-color);
    height: auto;
  }
  
  .container-info {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    padding: 50px;
    right: 0;
  }
  
  .container-info h3 {
    font-weight: bold;
  }
  
  .container-info img {
    width: 35%;
    height: auto;
    align-items: center;
  }
  
  .container-info p {
    width: 80%;
    height: auto;
    padding: 20px;
  }
  
  .hero-cta button,
  .container-info button {
    background-color: var(--tertiary-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .hero-cta button a,
  .container-info button a {
    color: var(--dark-color);
    text-decoration: none;
  }
  
  .container-main {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
  }
  
  .container-main img {
    width: 100%;
    height: auto;
  }
  
  /*--- Business Spotlight Style End---*/
  
  /*---Blogs Style Start---*/
  .blog-section {
    height: auto;
  }
  
  .blogs {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .blog {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 12px;
  }
  
  .blog img {
    width: 100%;
    border: 1px solid #556b2f;
    border-radius: 12px 12px 0 0;
    height: auto;
  }
  
  .blog-con {
    padding: 25px;
    line-height: 1.3;
  }
  
  .blog-con h3 {
    font-size: 20px;
  }
  
  .blog-con h4 {
    font-weight: lighter;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--light-color);
  }
  
  .blog-con p {
    font-size: 14px;
  }
  
  .blog-name a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  /*---Blogs Style End---*/
  
  /*---REACH OUT STYLES START---*/
  .contact {
    background: var(--secondary-color);
    height: auto;
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: var(--primary-color);
  }
  
  .contact-info p,
  .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }
  
  .contact-info a {
    color: var(--primary-color);
  }
  
  .flex-row {
    display: flex;
  }
  
  iframe {
    border-radius: 12px;
  }
  
  /*---Sponsor Style Start---*/
  
  /*---Footer Style Start---*/
  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h6 {
    color: var(--secondary-color);
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /*---Footer Style End---*/
  
  @media (min-width: 768px) {
    .e-container-info {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
  
  @media (min-width: 968px) {
    .e-container-main {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
  
  @media (min-width: 968px) {
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
  
  /* DISCOVER PAGE STYLE START */
  .discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
  }
  
  .discover-hero {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  .discover-sidebar-left {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .discover-article {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  
  .discover-hero picture img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
  }
  
  .discover-about {
    width: 90%;
    padding: 10px;
  }
  
  .discover-about p {
    width: 80%;
  }
  
  .discover-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .sponsor-gallery,
  .other-events-section {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .discover-list li {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffb5af;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
  }
  
  .discover-list li a {
    text-decoration: none;
    color: #000;
  }
  
  .discover-things {
    width: 95%;
    padding: 30px;
  }
  
  .discover-list li a:hover {
    color: #6332c5;
  }
  .discover-gallery,
  .sponsor-gallery {
    width: 95%;
    padding: 30px;
  }
  
  .discover-gallery div,
  .sponsor-gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .discover-gallery div figure img {
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    animation: fade 7s;
  }
  
  .sponsor-gallery div figure img {
    width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    animation: fade 7s;
  }
  
  .discover-gallery div figure figcaption {
    text-align: center;
    font-size: x-small;
  }
  
  .discover-gallery div img:hover,
  .sponsor-gallery div img:hover {
    box-shadow: 0 0 10px #ae9595;
  }
  
  .other-events-section div {
    width: 400px;
    height: 120px;
    background-color: var(--light-color);
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
  }
  
  .other-events h4 {
    color: #000;
    text-align: left;
    cursor: pointer;
    font-weight: lighter;
  }
  
  .other-events h3 {
    font-size: 1rem;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .discover-sidebar-left {
    width: 95%;
  }
  
  @media all and (max-width: 968px) {
    .discover-hero,
    .discover-sidebar-left,
    .discover-article {
      grid-column: 1 / 4;
    }
  
    .discover-hero {
      grid-row: 1/2;
    }
  
    .discover-article {
      grid-row: 2/3;
    }
  
    .discover-sidebar-left {
      grid-row: 3/4;
    }
  }
  
  @media all and (max-width: 768px) {
    .discover-hero,
    .discover-sidebar-left,
    .discover-article {
      grid-column: 1 / 4;
    }
  
    .discover-hero {
      grid-row: 1/2;
    }
  
    .discover-article {
      grid-row: 2/3;
    }
  
    .discover-sidebar-left {
      grid-row: 3/4;
    }
  }
  
  /* JOIN PAGE STYLE START */
  .join-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
  }
  
  .join-about {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 20px;
  }
  
  .join-about h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .join-article {
    grid-column: 2/4;
    grid-row: 2/4;
    height: 100%;
  }
  .join-form-sidebar-left {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .join-fit {
    top: 0;
    padding: 0 20px 10px 20px;
  }
  
  .join-fit p {
    padding: 20px;
  }
  
  .join-form-sidebar-left {
    width: 95%;
  }
  
  @media all and (max-width: 968px) {
    .join-about,
    .join-form-sidebar-left,
    .join-article {
      grid-column: 1 / 4;
    }
  
    .join-about {
      grid-row: 1/2;
    }
  
    .join-article {
      grid-row: 2/3;
    }
  
    .join-form-sidebar-left {
      grid-row: 3/4;
    }
  }
  
  @media all and (max-width: 768px) {
    .join-about,
    .join-form-sidebar-left,
    .join-article {
      grid-column: 1 / 4;
    }
  
    .join-about {
      grid-row: 1/2;
    }
  
    .join-article {
      grid-row: 2/3;
    }
  
    .join-form-sidebar-left {
      grid-row: 3/4;
    }
  }
  
  /* UPCOMING EVENTS STYLE START */
  
  .upcoming-events {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .upcoming-events-list li {
    padding: 10px;
    background-color: var(--light-color);
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    list-style-type: none;
  }
  
  .upcoming-events-list li h5 {
    font-weight: bold;
  }
  
  /* CALENDAR STYLE START */
  
  .calendar-wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .calendar-container {
    background: #ffffffb3;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 5px;
    justify-content: space-between;
  }
  
  .calendar-header .calendar-navigation {
    display: flex;
  }
  
  .calendar-header .calendar-navigation span {
    height: 18px;
    width: 18px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.5rem;
  }
  
  .calendar-navigation span:last-child {
    margin-right: -10px;
  }
  
  .calendar header .calendar-navigation span:hover {
    background: #f2f2f2;
  }
  
  .calendar-header .calendar-current-date {
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  .calendar-body {
    padding: 10px;
  }
  
  .calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
  }
  
  .calendar-body .calendar-dates {
    margin-bottom: 10px;
  }
  
  .calendar-body li {
    width: calc(100% / 7);
    font-size: 0.75rem;
    color: #414141;
  }
  
  .calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 400;
  }
  
  .calendar-body .calendar-dates li {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  
  .calendar-dates li.inactive {
    color: #aaa;
  }
  
  .calendar-dates li.active {
    color: #fff;
  }
  
  .calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .calendar-dates li.active::before {
    background: #6332c5;
  }
  
  .calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
  }
  
  /*---------  Directory Style -----------*/
  
  #cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 50px;
  }
  
  .menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
  }
  
  .menu button {
    padding: 1rem;
    font-weight: 700;
  }
  
  section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
  }
  
  .grid section {
    width: 350px;
    height: 500px;
    margin: 0.5rem;
    box-shadow: 0 0 20px #cccccc;
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .grid img {
    width: 250px;
    height: 250px;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 20px;
  }
  
  .grid section > * {
    margin: 0.1rem;
  }
  
  .grid h3 {
    color: black;
    font-size: 1rem;
    padding: 10px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    width: 100%;
    height: 100px;
    margin: 0.5rem;
    padding: 0;
  }
  
  .list section > * {
    margin: 0 1rem;
  }
  
  .list section img {
    display: none; /* smaller viewports only */
  }
  
  .list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
  }
  
  .list section:nth-child(even) {
    background-color: #bed;
  }
  
  section h3 {
    font-size: 1.5rem;
  }
  
  section p {
    font-weight: 600;
    font-size: smaller;
  }
  
  section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
    text-decoration: none;
  }
  
  img {
    height: 75px;
    max-width: 100%; /* Images are jerks - Seattle*/
  }