:root {
    --shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    --light-green: rgb(142, 237, 142);
    --max-width: 500px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .form {
    max-width: 90%;
    margin: 40px auto 0;
    box-shadow: var(--shadow);
    padding: 40px 15px 15px;
    border-radius: 6px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label-value {
    display: block;
    padding-bottom: 2px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 0.75rem;
    appearance: none;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  input:required {
    border-bottom: solid 8px red;
  }
  
  input:required:valid {
    border-color: green;
  }
  
  .submit {
    padding: 0.75rem;
    cursor: pointer;
    background-color: var(--light-green);
    border: 1px solid grey;
    border-radius: 6px;
  }
  
  .rangevalue {
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
  }
  
  .rangevalues {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .rangevalues option {
    position: relative;
    padding-top: 8px;
    width: 20px;
    text-align: center;
  }
  .rangevalues option::before {
    content: "|";
    font-size: 6px;
    position: absolute;
    top: 0;
    left: 50%;
  }
  
  .password-error-msg {
    display: none;
    height: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    margin-top: 5px;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
  }
  
  .password-error-msg.active {
    display: block;
    height: auto;
  }
  
  .record-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .record-body .content {
    max-width: 90%;
    box-shadow: var(--shadow);
    padding: 15px 30px 30px;
    border-radius: 6px;
  }
  
  .record-body h1 {
    font-size: 21px;
  }
  
  @media screen and (min-width: 700px) {
    .form {
      max-width: var(--max-width);
    }
  
    .record-body .content {
      width: 100%;
      max-width: var(--max-width);
    }
  }